{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Welcome, {{ request.user.username }}</h2>
<div class="mt-4">
    <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#createProductModal">
        Create Product
    </button>
    <button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#customerModal">
        Create Customer
    </button>
    <a href="{% url 'create_sales_bill' %}" class="btn btn-warning">Create Sales Bill</a>
</div>

<!-- Include reusable modals -->
{% include "create_product.html" with form=product_form %}
{% include "create_customer.html" with form=customer_form %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
<script src="{% static 'customers/js/customers.js' %}"></script>
{% endblock %}
