.sticky-summary {
    position: sticky;
    top: 20px;
}

.table th, .table td {
    vertical-align: middle !important;
}

.product-row:hover {
    background: #f8f9fa;
}

/* Better Select2 Styling */
.select2-container--default .select2-selection--single {
    height: 45px;
    padding: 8px;
    font-size: 15px;
}

.select2-container--default .select2-selection--single
.select2-selection__rendered {
    line-height: 28px;
}
